body {
  margin: 0;
  line-height: normal;
  background-color: #090c14;
  font-family: var(--font-inter);
  font-weight: 300;
  font-size: var(--font-size-small);
}

:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-xlarge: 3rem;
  --font-size-large: 2rem;
  --font-size-medium: 1.5rem;
  --font-size-small: 1rem;
  --font-size-xsmall: 0.75rem;
  --font-size-xxsmall: 0.5rem;

  /* Colors */
  --color-gray-100: rgba(32, 42, 68, 0.75);
  --color-pink: #ffc0cb;
  --color-pink-half: #ffc0cb26;
  --color-palegreen-100: rgba(152, 255, 152, 0.9);
  --color-palegreen-100-hover: rgba(152, 255, 152, 1);
  --color-palegreen-200: rgba(152, 255, 152, 0.1);
  --color-palegreen-200-hover: rgba(152, 255, 152, 0.25);
  --color-whitesmoke: #f5f6f7;
  --color-main: #202a44
    /* Gaps */
    --gap-3xs: 0.63rem;
  --gap-0: 0rem;

  /* Paddings */
  --padding-3xs: 0.63rem;
  --padding-xl: 1.25rem;

  /* border radiuses */
  --br-3xs: 10px;
}