body {
  margin: 0;
  line-height: normal;
  background-color: #1c253b;
  font-family: var(--font-roboto);
  font-weight: 300;
  font-size: var(--font-size-small);
}

:root {
  /* fonts */
  --font-roboto: Roboto;

  /* font sizes */
  --font-size-xlarge: 3rem;
  --font-size-large: 2rem;
  --font-size-medium: 1.5rem;
  --font-size-small: 1rem;

  /* Colors */
  --color-gray-100: rgba(32, 42, 68, 0.75);
  --color-pink: #ffc0cb;
  --color-palegreen-100: #98ff98;
  --color-palegreen-200: rgba(152, 255, 152, 0.1);
  --color-whitesmoke: #f5f6f7;
  --color-main: #202a44

  /* Gaps */
  --gap-3xs: 0.63rem;
  --gap-0: 0rem;

  /* Paddings */
  --padding-3xs: 0.63rem;
  --padding-xl: 1.25rem;

  /* border radiuses */
  --br-3xs: 10px;
}
