@keyframes slide-in-left {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1vh;
  margin: 10px;
  align-items: flex-start;
  z-index: 0;
  height: fit-content;
  justify-content: space-between;
  align-content: center;
}

.xlarge {
  font-size: var(--font-size-xlarge);
}

.large {
  font-size: var(--font-size-large);
}

.medium {
  font-size: var(--font-size-medium);
}

.small {
  font-size: var(--font-size-small);
}

.lightweight {
  font-weight: 300;
}

.highlight {
  color: var(--color-pink);
}

.regularweight {
  font-weight: 400;
}

.heavyweight {
  font-weight: 500;
}


.hslayout-icon {
  border-radius: 100px;
  max-width: 55%;
  padding: 10px;
  padding-top: 20px;

  object-fit: cover;
}

.icons {
  align-self: center;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 0.5vw;
  max-width: max-content;
  padding-top: 5px;
  padding-bottom: 10px;
}

.icon {
  overflow: auto;
  width: 25%;
  cursor: pointer;
  opacity: 80%;
}

.icon:hover {
  opacity: 100%;
}


.buttontext {
  position: relative;
  font-size: var(--font-size-medium);
  font-family: var(--font-roboto);
  color: var(--color-palegreen-100);
  text-align: center;
  max-width: 50%;
  height: fit-content;
  justify-content: center;
  display: flex;
  align-items: center;
  white-space: nowrap;
  padding: 12px 24px
}

.profile-button {
  cursor: pointer;
  border: 2px solid var(--color-palegreen-100);
  background-color: var(--color-palegreen-200);
  border-radius: var(--br-3xs);
  flex-direction: column;
  justify-content: center;
  display: flex;
  align-items: center;
  max-width: 80%;
  max-height: 50%;
}

.clickableHeader {
  font-size: var(--font-size-xlarge);
  font-weight: 300;
  cursor: pointer;
}

.clickableHeader:hover {
  color: var(--color-palegreen-100);
}

.codePreview {
  max-height: 355px;
  max-width: 50%;
  overflow-wrap: normal;
}

.profile-button:hover {
  background-color: var(--color-palegreen-200-hover);
}

.buttons {
  align-self: stretch;
  padding: 1vh var(--padding-3xs);
  justify-content: center;
  gap: 3vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 20px;
  padding-top: 10px;
}

.profile {
  border-radius: 20px;
  background-color: var(--color-main);
  border: 2px solid var(--color-pink);
  box-sizing: border-box;
  padding: var(--padding-3xs) var(--padding-3xs);
  margin: 2vw;
  margin-top: 1vh;
  justify-content: center;
  gap: var(--gap-3xs);
  opacity: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  opacity: 80%;
  transition: box-shadow 1s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  min-width: 15%;
  max-width: 20%;
  min-height: fit-content;
  max-height: 525px;

}

.profile:hover {
  box-shadow: 0px 0px 20px 30px var(--color-gray-100) inset;
  opacity: 100%;
}

.profile.animate {
  animation: 0.5s ease-out 0s 1 normal none slide-in-left;
}

[class*=preview-] {
  aspect-ratio: 16/9;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-100);
  margin: 5px;
  overflow: hidden;
  cursor: pointer;
  border: 3px solid var(--color-gray-100);
  transition: border-color 0.25s ease-in;
}

[class*=preview-]:hover {
  cursor: pointer;
  border-color: var(--color-pink);
}

.ytContainer {
  position: relative;
  display: block;
  width: 90%;
  margin: auto;
  padding: 0 0 56.25%;
}

.ytContainer>iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.landingpage {
  position: relative;
  backdrop-filter: blur(1000px);
  background-color: var(--color-main);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  text-align: left;
  color: var(--color-whitesmoke);
  font-family: var(--font-roboto);
  font-size: var(--font-size-large);
}

.content {
  padding: 10px;
  display: flex;
  overflow: hidden;
}

.highlightG {
  color: var(--color-palegreen-100);
}

.NavigationContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 100%;
  background-color: transparent;
  height: 100%;
  max-width: 100%;
  justify-content: space-evenly;
}



.tabLink {
  font-size: var(--font-size-medium);
  font-family: var(--font-roboto);
  text-justify: center;
  text-align: center;
  background-color: transparent;
  border: 2px solid var(--color-pink);
  border-radius: var(--br-3xs);
  outline: none;
  cursor: pointer;
  color: var(--color-whitesmoke);
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  min-width: 200px;
}

.tabLink:hover {
  background-color: var(--color-pink-half);
}

.TabContentContainer {
  display: flex;
  padding-top: 4vh;
}

.tabContent {
  max-width: 75%;
}


.NavContentContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.infobar {
  max-width: 100%;
  opacity: 80%;
  color: var(--color-pink);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  gap: 30px;
  margin-right: 1vw;
}

.previewVideo {
  max-width: 50%;
}

/* Mobile */
@media only screen and (max-width: 768px) {
  .previewVideo {
    max-width: 100%;
  }

  .header {
    flex-direction: column;
    font-size: var(--font-size-small);
  }

  .medium {
    font-size: var(--font-size-small);
  }

  .large {
    font-size: var(--font-size-medium);
  }

  .xlarge {
    font-size: var(--font-size-large);
  }

  .NavigationContainer {
    display: grid;
    grid-template-columns: repeat(3, 30%);

  }

  .TabContentContainer {
    flex-direction: column;
  }

  .tabLink {
    max-width: 25%;
  }

  .tabContent {
    max-width: 90%;
    justify-content: center;
    align-content: center;
    padding: 50px;
  }

  .profile {
    flex-direction: row;
    width: 100%;
    justify-content: center;
    justify-self: center;
    margin: auto auto;
    margin-bottom: 50px;
  }

  .profile-button {
    flex-direction: row;
  }

  .sample-container {
    display: flex;
    gap: 20px;
    flex-direction: column;
  }

  .codePreview {
    max-width: 100%;
    aspect-ratio: 16/9;
  }

  .icons {
    all: unset;
    display: grid;
    max-height: 80%;
    grid-template-columns: 45% 45%;
    gap: 2.5%;
  }

  .icon {
    all: unset;
    max-width: 100%;
  }

  .buttons {
    padding: 0;
  }

  .buttontext {
    margin: 5px;
  }

  .hslayout-icon {
    max-width: 25%;
  }

  .profile {
    padding: 1vh;
    justify-content: space-evenly;
    max-width: 80%;
    margin-bottom: 0;

  }

  .videogrid {
    all: unset;
    display: grid;
    padding: 10px;
    margin: 10px;
  }

  [class*=preview-] {
    max-width: 95%;
  }

  .tabLink {
    min-width: 140px;
    max-width: max-content;
    min-height: 50px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: var(--font-size-small);

  }
}