* {
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 0;
  }

  body {
    background-color: #111;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }


  .hcontainer
  {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0;
    width: auto;
  }

  h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    margin-left: 1.1rem;
    display: inline;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  .selectable 
  {
  position: relative;
  z-index: 1;
  transition: transform 0.2s ease-in-out;
  
  }

  .selectable::before
  {
 content: "";
  display: block;
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  height: 10px;
  z-index: -1;
  }

  .selectable:hover
  {
    cursor: pointer;
    color: var(--hover-color);
    transform:translateY(-2px);
  }

  h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
    }
  
    footer {
        text-align: center;
        padding: 20px;
        position: absolute;
        bottom: 0;
        width: 100%;
      }


.box::before
  {
 content: "";
  display: block;
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  height: 10px;
  z-index: -1;
  }
  
  .box video {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
  }
  
  .box h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .box p {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 0;
    padding: 0 1rem;
    color: #fff;
    line-height: 1.4;
  }
  
  .container {
    display: flex;
    max-width: 80%;
    margin: 0 auto;
    justify-content: center; 
    flex-wrap: wrap;
  }

  .contact
  {
    position:relative;
  }
  
  .box {
    display: flex;
    flex-basis: calc(33.33% - 10px);
    max-width: 100%;
    flex-direction: column;
    background-color: #111;
    padding: 1.25rem;
    border-radius: 0.5rem;
    transition: all 0.2s ease-in-out;
    margin: 0 auto; 
  }


    .box:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 2px rgba(0, 0, 0, 0.1);
    background-color: #121212;
    padding-bottom: 10px;
    cursor: pointer;
    }
    
    .box p {
    font-size: 1rem;
    text-align: center;
    }
    
    header {
        display: flex;
        color: #fff;
        padding: 20px;
        text-align: center;
        top: 0;
        left: 0;
      }

      header h1 {
        font-size: 2.5rem;
        margin: 0;
        padding: 5px;
      }

      @media (max-width: 1024px) {

       
      }

